src/*/dist/*
*.egg-info/
*PasteDeploy*.egg
*PasteScript*.egg
*Paste*.egg
.DS_Store
*.pyc
*.pyo
*~
*.po
.svn/
bin/
parts/
lib/
var/
.installed.cfg
.mr.developer.cfg
develop-eggs/
include/
.Python
.codeintel
downloads/
coverage/
src/jarn.xmpp.*/
src/collective.*/
src/hostout.*/
src/tlyng.*/
src/sauna.reload/
dist

